.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .logo-image {
    width: 200px;
    height: 200px;
    margin: 20px auto;
  }
  
  .login-box {
    padding: 20px;
    border-radius: 8px;
    background-color: #DDDEDA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-title {
    text-align: center;
    color: #333333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .login-label {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  
  .login-input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .login-button {
    padding: 10px;
    color: white;
    background-color: #ff6f00;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #e65c00;
  }
  .google-login-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4285F4; /* Google plava */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .google-login-button:hover {
    background-color: #357ae8;
  }
  
  